<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div #mapElement class="map"></div>

  <ion-button (click)="calculateAndDisplayRoute()">Start

  </ion-button>

  <ion-button (click)="go()">GeoLoacation

  </ion-button>

  <ion-button (click)="go1()">AccurateLocation

  </ion-button>
  <ion-button (click)="go2()">marke

  </ion-button>


  <ion-button (click)="go3()">Current

  </ion-button>

  <ion-button (click)="go4()">browser

  </ion-button>

  <ion-button (click)="go5()">test

  </ion-button>

  <ion-button (click)="go6()">Random

  </ion-button>

  <ion-button (click)="go7()">Direction

  </ion-button>

  <ion-button (click)="go8()">MarkerAnimation

  </ion-button>

  <ion-button (click)="go9()">MarkerMove

  </ion-button>

  <ion-button (click)="go10()">MarkerMove

  </ion-button>
</ion-content>
