<ion-header>
  <ion-toolbar>
    <ion-title>current</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="form-group">
      <label>Enter address</label>
      <ion-input class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </ion-input>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>

    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
  </div>
</ion-content>